{% extends 'core/base.html' %}

{% block contenido_titulo %}
    BUSQUEDA
{% endblock contenido_titulo %}

{% block contenido %}    
    
    <table style="width:100%">
        <tr>
            <th>APELLIDO</th>
            <th>NOMBRE</th>
            <th>NACIMIENTO</th>
            <th>PAIS</th>
        </tr>
        {% for cliente in cliente_nombre %}
            <tr>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.nombre}}</td>
                <td>
                    {% if cliente.nacimiento %}
                        {{cliente.nacimiento}}
                    {% else %}
                        "No Registrada"
                    {% endif %} 
                </td>
                <td>
                    {% if cliente.pais_origen %}
                        {{cliente.pais_origen}}
                    {% else %}
                        "No Registrado"
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock contenido %}