{% extends 'core/base.html' %}

{% block contenido_titulo %}
    CLIENTE
{% endblock contenido_titulo %}

{% block contenido %}    
    
    <table style="width:100%">
        <tr>
            <th>APELLIDO</th>
            <th>NOMBRE</th>
            <th>NACIMIENTO</th>
            <th>PAIS</th>
        </tr>
        {% for cliente in clientes %}
            <tr>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.nombre}}</td>
                <td>
                    {% if cliente.nacimiento %}
                        {{cliente.nacimiento}}
                    {% else %}
                    <i class="fa fa-italic" aria-hidden="true">-- No Registrada --</i>
                    {% endif %} 
                </td>
                <td>
                    {% if cliente.pais_origen %}
                        {{cliente.pais_origen}}
                    {% else %}
                        <i class="fa fa-italic" aria-hidden="true">-- No Registrado --</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'cliente:clientes-buscar' %}" class="btn btn-primary">BUSCAR CLIENTE</a>
    <a href="{% url 'cliente:crear' %}" class="btn btn-primary">CREAR NUEVO</a>

{% endblock contenido %}