{% extends 'core/base.html' %}

{% block contenido_titulo %}
    PRODUCTOS
{% endblock contenido_titulo %}

{% block contenido %}    
    
    <table style="width:100%">
        <tr>
            <th>NOMBRE</th>
            <th>CATEGORIA</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.get_categoria_display}}</td>
                <td>{{producto.precio}}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'producto:productos-buscar' %}" class="btn btn-primary" style="margin: 0.5em;">BUSCAR</a>
    <a href="{% url 'producto:crear' %}" class="btn btn-success" style="margin: 0.5em;">CREAR</a>
    <a href="{% url 'producto:ver_productos' %}" class="btn btn-warning" style="margin: 0.5em;">EDITAR</a>
    <a href="{% url 'producto:ver_productos' %}" class="btn btn-danger" style="margin: 0.5em;">ELIMINAR</a>

    {% endblock contenido %}