{% extends 'core/base.html' %}

{% block contenido_titulo %}
    NOSOTROS
{% endblock contenido_titulo %}

{% block contenido %}
    <p>Hola! Esto es About</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A distinctio quasi reiciendis, architecto eveniet praesentium libero atque mollitia aliquam perspiciatis impedit dolores voluptas, veritatis voluptate. Voluptas dicta vitae alias ab eaque, totam ducimus voluptate vero repellat aspernatur saepe. Modi accusamus velit, vel laborum voluptatem delectus molestiae repellat, neque blanditiis cupiditate saepe ea? Doloremque harum perferendis dolorum maiores vero sit quidem expedita aspernatur vitae nobis? Hic doloribus quasi tempore omnis minus beatae, dolor libero quod, placeat ab cum doloremque magni suscipit quae impedit dolorem dicta, quisquam maxime. Ullam ducimus dolorum explicabo a quaerat molestiae earum provident! Inventore laboriosam id ut quisquam!</p>
{% endblock contenido %}