{% extends 'core/base.html' %}
{% load static %}

{% block contenido_titulo %}
    MOTOMERSA REPUESTOS
{% endblock contenido_titulo %}

{% block contenido %}

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/nosotros.png' %}" alt="..." /></div>
        <div class="col-lg-9">
            <h2 class="font-weight-light">REPUESTOS - ACCESORIOS - SERVICIOS</h2>
            <p>Bienvenido a Motomersa Repuestos, tu destino confiable para todas tus necesidades de repuestos y servicios para motocicletas. En Motomersa, entendemos la pasión que sientes por tu motocicleta, y estamos aquí para brindarte una experiencia única en la adquisición de repuestos de calidad y servicios excepcionales.
                En el corazón de nuestra misión está el compromiso de ofrecer a nuestros clientes una amplia selección de repuestos de alta calidad para diversas marcas y modelos de motocicletas. Ya sea que estés realizando reparaciones, mejoras o simplemente buscando personalizar tu moto, nuestro extenso catálogo tiene todo lo que necesitas. Nos enorgullece ofrecer no solo productos, sino soluciones que mantendrán tu motocicleta en perfecto estado y potenciarán tu experiencia de conducción.
                Nuestro equipo está formado por apasionados expertos en motocicletas que comparten tu amor por la carretera. Entendemos la importancia de mantener tu moto en su mejor forma, y nos esforzamos por brindar un servicio de mantenimiento excepcional. Desde cambios de aceite hasta reparaciones más complejas, nuestro equipo de técnicos altamente capacitados está listo para cuidar de tu motocicleta como si fuera propia.
                
                En Motomersa, no solo nos preocupamos por proporcionarte repuestos y servicios de alta calidad, sino también por crear una comunidad donde los entusiastas de las motocicletas puedan conectarse, compartir experiencias y encontrar inspiración para sus viajes. Creemos que cada motociclista tiene una historia única, y queremos ser parte de la tuya.
                
                Explora nuestro sitio, descubre nuestras ofertas y sumérgete en el mundo de Motomersa Repuestos. Gracias por elegirnos como tu socio confiable en el emocionante viaje de la conducción. Estamos aquí para apoyarte en cada curva del camino.
                
                ¡Bienvenido a Motomersa Repuestos, donde tu pasión por las motocicletas cobra vida!</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Este es el layout principal de la Pre-Entrega, a partir de aquí se puede redireccionar a otras partes mediante la navbar.</p></div>
    </div>

{% endblock contenido %}
