{% extends 'core/base.html' %}

{% block contenido %}
    
    <h2>Registro</h2>
    <form action="{% url 'core:registro' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}

        <button class="btn btn-success" type="Submit">Registrarse</button>
    </form>

{% endblock %}